<div *ngIf="loading else notLoadingTemplate">
    <loading></loading>
</div>

<ng-template #notLoadingTemplate> 
    <div *ngIf="error then errorTemplate else dataTemplate">
        if placeholder
    </div>
</ng-template>

<ng-template #errorTemplate> 
    <!-- <alert [message]="error.message" (close)="closeErrorDialog()"></alert> -->
</ng-template>

<ng-template #dataTemplate> 
    <div *ngIf="users.length > 0 else noUserTemplate">

        <h1>{{ title }}</h1>
    
        <div class="alert alert-warning">
            {{ users.length }} user(s) found.
        </div>
    
        <div class="mb-3">
            <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Search...">
            <small class="text-muted" *ngIf="filterText">Searched User: {{ filterText }}</small>
        </div>
    
        <ng-template [ngTemplateOutlet]="userTemplate" [ngTemplateOutletContext]="{ usersData: users }"></ng-template>
    </div>
</ng-template>

<ng-template #noUserTemplate> 
    <div class="alert alert-warning">
        User Not Found!
    </div>
</ng-template>

<ng-template #userTemplate let-users="usersData">
    <div class="card mb-3" *ngFor="let user of users | userFilter: filterText">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/1.jpeg" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">{{ user.fullName }}</h2>
                    <p class="card-text">{{ user.role }}</p>
                    <p class="card-text">{{ user.title | summary: 40 }}</p>
                    <div>
                        <a routerLink="/admin/user/{{ user.id }}" class="btn btn-sm btn-outline-primary">Details</a>
                        <button (click)="addToList($event, user)" class="btn btn-sm btn-primary ms-1">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- <div class="row">
    <div class="col-md-3">
        <admin-role></admin-role>
    </div>
    <div class="col-md-9">        
        <router-outlet></router-outlet>
    </div>
</div> -->