<div class="row">
    <div class="col-5 mx-auto">

        <div *ngIf="loading else notLoadingTemplate">
            <loading></loading>
        </div>
        
        <ng-template #notLoadingTemplate> 
            <alert *ngIf="error" [message]="error.message" (close)="closeErrorDialog()"></alert>
        </ng-template>
        
        <h1>{{ title }}</h1>
        
        <form [formGroup]="createUserForm" (ngSubmit)="registerUser()">

            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" formControlName="name">
                <small *ngIf="name.invalid && name.touched" class="form-text text-muted">Please provide a name.</small>
            </div>
        
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email">
                <small *ngIf="email.invalid && email.touched" class="form-text text-muted">Please provide a email.</small>
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" formControlName="password">
                <div *ngIf="password.invalid && password.touched">
                    <small *ngIf="password.errors['required']" class="form-text text-muted">Please provide a password.</small>
                    <small *ngIf="password.errors['minlength']" class="form-text text-muted">Please provide a password with min length 6.</small>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="department" class="form-label">Department</label>
                <input type="text" name="department" class="form-control" formControlName="department">
            </div>
        
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" formControlName="title">
            </div>
        
            <div class="mb-3">
                <label for="organization" class="form-label">Organization</label>
                <select class="form-select" name="organization" formControlName="organization">
                    <option *ngFor="let organization of organizations" [value]="organization">{{ organization }}</option>
                </select>
            </div>
        
            <div class="mb-3">
                <label for="organizationName" class="form-label">Organization Name</label>
                <input type="text" name="organizationName" class="form-control" formControlName="organizationName">
                <small *ngIf="organizationName.invalid && organizationName.touched" class="form-text text-muted">Please provide a organization name.</small>
            </div>
        
            <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select class="form-select" name="role" formControlName="role">
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
            </div>
        
            <button [disabled]="createUserForm.invalid" type="submit" class="btn btn-primary">Create User</button>
            <button type="button" class="btn btn-warning ms-3" (click)="clearForm()">Clear Form</button>
        
        </form>

    </div>
</div>