<div *ngIf="loading else notLoadingTemplate">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #notLoadingTemplate> 
    <div *ngIf="error then errorTemplate else dataTemplate">
        if placeholder
    </div>
</ng-template>

<ng-template #errorTemplate> 
    <div class="alert alert-danger">
        {{ error.message }}
    </div>
</ng-template>

<ng-template #dataTemplate> 
    <h1>{{ title }}</h1>

    <ng-template [ngTemplateOutlet]="userTemplate" [ngTemplateOutletContext]="{ usersData: user }"></ng-template>
</ng-template>

<ng-template #userTemplate let-users="usersData">
    <div class="row">
        <div class="col-md-3">
            <img src="/assets/img/1.jpeg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h2 class="card-title">{{ user.name }}</h2>
                <p class="card-text">{{ user.role }}</p>
                <p class="card-text">{{ user.title | summary: 40 }}</p>
                <p class="card-text">{{ user.createdAt | date: 'fullDate' }}</p>
                <div>
                    <a routerLink="/user/{{ user._id }}" class="btn btn-sm btn-outline-primary">Details</a>
                    <button (click)="addToList($event, user)" class="btn btn-sm btn-primary ms-1">Add</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>